<configuration xmlns="urn:newrelic-config" agentEnabled="true">
	<developerMode enabled="true" />
	<instrumentation>
		<applications>
			<application name="Ensek.Shufflers.Windows.Service.exe" />
			<application name="SFMService.exe" />
		</applications>
	</instrumentation>
	<application>
		<name>CRM</name>
	</application>
	<log level="finest" />
	<transactionTracer enabled="true" transactionThreshold="apdex_f" stackTraceThreshold="500" recordSql="obfuscated" explainEnabled="true" explainThreshold="500" />
	<crossApplicationTracer enabled="true" />
	<errorCollector enabled="true">
		<ignoreErrors>
			<exception>System.IO.FileNotFoundException</exception>
			<exception>System.Threading.ThreadAbortException</exception>
		</ignoreErrors>
		<ignoreStatusCodes>
			<code>401</code>
			<code>404</code>
			<code>409</code>
		</ignoreStatusCodes>
	</errorCollector>
	<browserMonitoring autoInstrument="true" />
	<threadProfiling>
		<ignoreMethod>System.Threading.WaitHandle:InternalWaitOne</ignoreMethod>
		<ignoreMethod>System.Threading.WaitHandle:WaitAny</ignoreMethod>
	</threadProfiling>
</configuration>